extend layout
block content     
        .gridcontainer
            div.item1 
                img(src='/image/churchbooks.jpg' width="100%" height="100%")
                h1.notamember
                        a(href="/user/newuser" style="text-decoration:none;") 
                            pre(style="color:white; "). 
                                NOT a MEMBER YET?
                                            JOIN NOW.
            div.item2 
                img(src='/image/bookstore.jpg' width="100%" height="100%" )
            div.item3 
                img(src='/image/grass.jpg' width="100%" height="100%")
                div.member
                    h1
                        a(href="/user/login" style="text-decoration:none; color:black;font-size:50px;") 
                            pre. 
                                ALREADY a MEMBER?
                                             TRADE NOW.
            
            div.item5
                h1 “A room without books is like a body without a soul.” ― Marcus Tullius Cicero                                                                                                                                                                                                  
            div.item6 
                h1 “Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.” 
                    |― Charles W. Eliot
        
