extend ../layout
block content
    form(method="POST",action="/user/edit/changepassword/"+user.id)
        .form-group
            label(for="username")|NEW PASSWORD:
            input.form-control(type="password" id="password" name="password"  required)
        .form-group
            label(for="fullname")|CONFIRM NEW PASSWORD:
            input.form-control(type="password" id="password1" name="password1" required)
        br    
        button.btn.btn-info(type="submit") UPDATE PASSWORD
    br       